h1, h3, h4, p, label, th, td, a{
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

header{
    display: flex;
    align-items: center;
    background-color: rgb(51, 46, 58);
    padding-left: 20px;
    height: 100px;
}

.content{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    text-align: center;
}   

.left{
    width: 60%;
    padding: 20px;
}

.right{
    width: 40%;
    padding: 20px;

}
.hobbyList{
    padding: 30px;
}

#pfp{
    width: 250px;
}

#quote{
    font-size: 12px;
}
a:link, a:visited{
    margin: 0 50px;
    color: white;
    text-decoration: none;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: rgb(51, 46, 58);
    padding-top: 25px;
    text-align: center;
}